
@font-face {
    font-family: 'Mail Sans Regular';
    src: url('fonts/MailSansRoman-Regular.ttf');
}
@font-face {
    font-family: 'Mail Sans Bold';
    src: url('fonts/MailSansRoman-Bold.ttf');
}
@font-face {
    font-family: 'Mail Sans DemiBold';
    src: url('fonts/MailSansRoman-DemiBold.ttf');
}
@font-face {
    font-family: 'Mail Sans Medium';
    src: url('fonts/MailSansRoman-Medium.ttf');
}
html{
    --bg-body: #19191A;
    --container-bg: #2A2A2B;
    --primary-color: #F3E0EC;
    --second-color: #685F74;
    --game-color: #CA9CE1;
    --online-color: #F2BEFC;

    --pd-x: 20px;
    --pd-y: 20px;
    --gap-first: 20px;

    --border-radius: 20px;

    font-family: 'Mail Sans Regular';
}
h3{
    font-family: 'Mail Sans Bold';
    font-size: 26px;
}
h4{
    font-family: 'Mail Sans Medium';
    font-size: 24px;
}
h5{
    font-family: 'Mail Sans Medium';
    font-size: 22px;
}
p{
    font-family: 'Mail Sans Regular';
    font-size: 20px;
}
p.small{
    font-family: 'Mail Sans Regular';
    font-size: 16px;
}
h3,h4,h5,p,p .small{
    color: var(--primary-color);
}
body{
    background-color: var(--bg-body);
}

.w-40{
    width: 40%;
}

svg path{
    transition: all 0.3s;
}
.ico-container svg:hover{
    cursor: pointer;
}
.ico-container svg:hover path{
    fill: var(--primary-color);
}


.content-container{
    margin: 100px 200px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.container{
    display: flex;
    background: var(--container-bg);
    border-radius: var(--border-radius);
    /* width: 280px; */
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-first);
}

.fixed{
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-first);
}

.profile-content{
    width: 280px;
}
.profile-avatar{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background: url("image/avatar.jpeg"), lightgray 0px -10.472px / 100% 137.363% no-repeat;
}
.profile-title-name{
    display: flex;
    align-items: center;
    gap: 15px;
}
.profile-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.steam-login {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.steam-login-name {
    display: flex;
    gap: 10px;
}
.steam-friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}
.steam-friend {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}
.friend-avatar {
    border-radius: 100px;
    max-width: 40px;
    max-height: 40px;
}
.friend-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    flex: 1 0 0;
}
.friend-info p.small{
    color: #F2BEFC;
}

.repository-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-first);
}
.repository {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.repository-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.repository-info p.small{
    color: var(--second-color);
}
.repository-langs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}
.repository-lang {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
}
.repository-lang p.small{
    color: var(--second-color);
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    /* flex: 1 0 0; */
}
.nav-list{
    display: flex;
    /* width: 826px; */
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
li.nav-item{
    display: flex;
    border-radius: 10px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.3s;
}
li.nav-item h3{
    transition: all 0.3s;
    color: var(--second-color);
}
li.nav-item:hover{
    cursor: pointer;
    background-color: var(--container-bg);
}
li.nav-item:hover h3{
    color: var(--primary-color);
}
.nav-item:has(.nav-item):hover{
    background-color: transparent;
} 
/* li.nav-item:hover .ico-container svg path{
    fill: var(--primary-color);  
} */
.flex{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}

.dropdown-menu{
    position: absolute;
    z-index: 100;
    /* background-color: var(--container-bg); */
    border: 1px solid var(--container-bg);
    padding: 20px;
    border-radius: 10px;
    top: 20%;
}
.none{
    display: none;
}

.anime-container{
    gap: 15px;
}

/* input{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #2A2A2B;
    color: var(--primary-color);

    font-family: 'Mail Sans Medium';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */

.bd-example>:last-child, .bd-example>nav:last-child .breadcrumb {
    margin-bottom: 0;
}
.form-floating {
    position: relative;
}
.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext {
    padding: 1rem .75rem;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext, .form-floating>.form-select {
    height: calc(3.5rem + calc(1 * 2));
    min-height: calc(3.5rem + calc(1 * 2));
    line-height: 1.25;
}
.form-control:focus {
    color: var(--primary-color);
    background-color: var(--container-bg);
    border-color: #86b7fe;
    outline: 0;
    /* box-shadow: 0 0 0 .25rem rgba(13,110,253,.25); */
}
textarea.form-control {
    min-height: calc(1.5em + .75rem + calc(1 * 2));
}
.form-control {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    /* font-size: 1rem; */
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--container-bg);
    background-clip: padding-box;
    border: 1 solid var(--second-color);
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
main a, main button, main input, main select, main textarea, main h2, main h3, main h4, main [tabindex="0"] {
    scroll-margin-top: 80px;
    scroll-margin-bottom: 100px;
}
.form-floating>label {
    color: var(--second-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem .75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
label {
    display: inline-block;
}
.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
    position: absolute;
    inset: 1rem 0.375rem;
    z-index: -1;
    height: 1.5em;
    content: "";
    background-color: var(--container-bg);
    border-radius: 10px;
}
.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
    color: rgba(var(--primary-color),.65);
    transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    color: var(--online-color);
}
.form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem .75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}

.founded-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.anime-sorts {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.anime-filter{
    display: flex;
    align-items: center;
    gap: 10px;
}

.anime-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}
.anime-card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;

    border-radius: 10px;
    border: 1px solid var(--container-bg);

    transition: all 0.3s;
}
.anime-card:hover{
    cursor: pointer;
    border: 1px solid var(--primary-color);
}
.anime-card-title {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}
.anime-card-cover {
    width: 50px;
    height: 50px;
}
.anime-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.anime-rating{
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 15px;
    position: absolute;
    left: 31px;
    top: 7px;
    border-radius: 100px;
    background: var(--container-bg);
}
.anime-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}
.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;

    overflow: hidden;
    color: var(--primary-color);
    text-overflow: ellipsis;

    /* p */
    font-family: 'Mail Sans Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.border-line {
    width: 100%;
    height: 1px;
    background: var(--primary-color);
}
.anime-info{
    color: var(--second-color);
}
.anime-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.right-aside{
    width: 240px;
}

.weather-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.weather-info {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}
.weather-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}
.weather-temp {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
.team-match {
    display: flex;
    align-items: center;
    gap: 10px;
}